.header{
    background-image: url(rottenlargebg.png);
    background-repeat: repeat-x;
    height: 50px ;
}

.headerflag{
  background-image: url(rottenlargebg);
  text-align: center;
    height: 50px;
    width: 350px;
    z-index: 1;
}

.flagsbanner{
  position: absolute;
  top: auto;
  left: 5%;
  z-index: 1;
  height: 10%;
  
}

.flagsbackg{
  position: absolute;
  margin-bottom: 100%;
  top: auto;
  left: 20%;
  width: 60%;
  height: 10%;
}

.bigbox{
  background-color: rgb(221, 219, 216);
  position: absolute;
  top: 20.9%;
  left: 5%;
  width: 60%;
  height: 100%;
  right: 80%;
}

.rightbox{
  
  background-color: #bcf542;
  position: absolute;
  width: 30%;
  height: 110%;
  left: 65%;
}

.kings{
  width: 100%;
}
